.navbar-static-top {
    margin-bottom: 0px;
}

.original-price {
    color: red;
    text-decoration: line-through;
}

/*.jumbotron{
	{% if featured_image.make_image_background %}
		background-image: url("{{ featured_image.image.url }}")
	{% endif %}
}*/