{% extends 'base.html' %} {% load crispy_forms_tags %} {% block head_title %}Welcome | {% endblock %} {% block style %} .lead { text-align: center; } {% endblock %} {% block jumbotron %}
 {% if not request.user.is_authenticated %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Try Django 1.8</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="" role="button">Join us &raquo;</a>
                </p>
            </div>
            <div class="col-sm-6">
                <iframe width="460" height="315" src="https://www.youtube.com/embed/GND6rfR4Gio" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %} {% block content %}
 {% if request.user.is_authenticated %}
<h1>You are logged in!</h1>

    {% if queryset %}
    <h2>Welcome Staff</h2>
    <table class='table'>
    {% for instance in queryset %}
        <tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
        {% if instance.email == "abc@gmail.edu" %}
        <tr><td>is equal</td></tr>
        {% endif %}
    {% endfor %}
    </table>

    {% endif %}

 {% else %}
<div class="row">
    <div class="col-md-3">
        <div class="lead">
            Build with Django & Bootstrap <br>
            <i class="fa fa-balance-scale fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-md-3">
        <div class="lead">
            Create for starter
            <br>
            <span class="fa-stack fa-lg">
                <i class="fa fa-camera fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="lead">
            Always Open Source
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-3 pull-right">
        <div class="lead">
            {{ title }}
        </div>
        <form action="" method="POST">
            {% csrf_token %} {{ form|crispy }}
            <input type="submit" value="Sign Up" class="btn btn-primary">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
