{% extends "base.html" %}
<script>
{% block jquery %}
	$(".item-quantity").change(function(){
		// $(this).next(".btn-update").fadeIn();
		// e.preventDefault();

	    // var form_data = $("#add-form").serialize();
	    var item = $(this).prev("input[type='hidden']").val();
	    console.log(item);
	    var quantity = $(this).val();
	    var data = {
	    	item: item,
	    	quantity: quantity,
	    }
	    console.log(data);
	    $.ajax({
	        type: "GET",
	        url: "{% url 'carts' %}",
	        data: data,
	        success: function(data){
	            console.log(data);
	            if (data.delete){
	            	$("#item-"+item).fadeOut();
	            } else {
	            	$("#item-line-total-"+item).text(data.line_total);
	            	$("#subtotal").text(data.subtotal);
	            }
	            var message = "";
	            if (data.item_added){
	            	message = "New item added"
	            } else if (data.delete) {
	            	message = "Item removed"
	            } else {
	            	message = "Item updated"
	            }
	            showFlashMessage(message);
	        },
	        error: function(response, error){
	            console.log(response, error)
	            $("#add-form").submit();
	        }
	    })
	});
{% endblock %}
</script>
{% block content %}
<div class="alert-container">
    
</div>
{{ object }} {{ object.cartitem_set.all }}
<table class="table">
    {% for item in object.cartitem_set.all %}
    <tr id="item-{{ item.item.id }}">
        <td>
            {{ item.get_title }}
        </td>
        <td>
        <form action="." method="GET">
        	<input type="hidden" name="item" value="{{ item.item.id }}">
        	<input type="number" name="quantity" value="{{ item.quantity }}" class="item-quantity">
        	<input type="submit" class="btn btn-link btn-update" value="Update item" style="display:none">
    	</form>
        </td>
        <td id="item-line-total-{{ item.item.id }}">
            {{ item.line_item_total }}
        </td>
        <td class="text-right">
            <a href="{{ item.remove }}">X</a>
        </td>
    </tr>
    {% endfor %}
    <tr>
    	<td id="subtotal" colspan="4" class="text-right">
    		Subtotal: {{ object.subtotal }}
    	</td>
    </tr>
</table>
{% endblock %}
