{% extends 'base.html' %} {% block content %}
<br>
<h1>All products <small><a href="{% url 'categories' %}">Categories</a></small></h1>
<table class="table">
	<thead>
		<th></th>
		<th>
			Detail
		</th>
	</thead>
    {% for object in object_list %}
    <div class="col-xs-2">
        <div class="thumbnail text-center">
            <h5><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h5> {% if object.get_image_url %}
            <div>
                <a href="{{ object.get_absolute_url }}"><img src="{{ object.get_image_url }}" alt="" class="img-responsive" id="img"></a>
            </div>
            {% endif %}
        </div>
    </div>
	<tr>
		<td>
			{{ forloop.counter }}
		</td>
		<td>
			<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
		</td>
	</tr>
    {% endfor %}
</table>
{% endblock %}
