<div class="col-sm-4 col-sm-offset-4 text-center">
    <p class="lead">
        Your order
    </p>
    <table class="table">
		<tr>
			<td>{{ order.cart.cartitem_set.count }} items<br>
			{% for i in order.cart.cartitem_set.all %}
			<b>{{ i.get_title }}</b>
			{% endfor %}
			</td>
		</tr>
        <tr>
            <td>Sub Total: {{ order.cart.subtotal }}</td>
        </tr>
        <tr>
            <td>Tax: {{ order.cart.tax_total }}</td>
        </tr>
        <tr>
            <td>Item Total: {{ order.cart.total }}</td>
        </tr>
        <tr>
            <td>Shipping: {{ order.shipping_total_price }}</td>
        </tr>
        <tr>
            <td>Order Total: {{ order.order_total }}</td>
        </tr>
    </table>
</div>
<div class="col-sm-4 col-sm-offset-4 text-center">
	<p><b>Billing To</b><br>
		{{ order.billing_address.get_address }}
	</p>
	<p><b>Shipping To</b><br>
		{{ order.shipping_address.get_address }}
	</p>
